<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="gcode_gen"
           Manufacturer="CropCrusaders"
           Version="1.0.0"
           InstallerVersion="600"
           UpgradeCode="{bed5a804-5004-4e97-9dc1-c3c65803ea45}">

    <!-- Install to C:\Program Files\CropCrusaders\gcode_gen -->
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="CropCrusaders">
        <Directory Id="TARGETDIR" Name="gcode_gen" />
      </Directory>
    </DirectoryRef>

    <!-- Actual payload -->
    <ComponentGroup Id="MainFiles" Directory="TARGETDIR">
      <Component>
        <File Source="build\\Release\\gcode_gen.exe" />
      </Component>
    </ComponentGroup>

    <Feature Id="DefaultFeature" Title="gcode_gen" Level="1">
      <ComponentGroupRef Id="MainFiles" />
    </Feature>
  </Package>
</Wix>
